{% extends "base.html" %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}POS | {{block.super}}{% endblock title %}

{% block content %}
  <div id="app">
    <!-- Componente -->
    <app></app>
  </div>
  {% render_bundle 'chunk-vendors' %}
  {% render_bundle 'vue_app_01' %}
{% endblock content %}

{% block extra_materialize_js %}
  {{block.super}}
  var tabs = M.Tabs.init(document.querySelector('.tabs'));
  var collection = document.querySelector('.collection');
{% endblock extra_materialize_js %}