{% load static %}
<!-- Compiled and minified Materialize assets -->
<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
<script src="{% static 'js/bin/materialize.min.js' %}"></script>
<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Highcharts -->
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<!-- Custom assets -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script src="{% static 'js/main.js' %}"></script>