{% extends "base.html" %}

{% block title %}Nueva Cita | {{block.super}}{% endblock title %}

{% block content %}
  <a href="{% url 'inventario:productos' %}" class="btn waves-effect waves-light">
    <i class="material-icons left">arrow_back</i> Atras
  </a>
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        {% if form.instance.id %}
            Modificar Producto
        {% else %}
            Nuevo Producto
        {% endif %}
      </span>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="input-field col s12">
                {{field}}
                <label>{{field.label}}</label>
                {% if field.help_text %}
                    <span class="helper-text" data-error="{{field.errors}}">{{field.help_text}}</span>
                {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn waves-effect waves-light">Guardar</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  {{block.super}}
{% endblock extra_js %}