{% extends "base.html" %}

{% load static humanize %}

{% block title %}Productos | {{block.super}}{% endblock title %}

{% block content %}
  {% if categorias %}
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          {% for categoria in categorias %}
            <li class="tab col s3">
              <a class="active" href="#categoria{{categoria.id}}">{{categoria}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% for categoria in categorias %}
        <div id="categoria{{categoria.id}}" class="col s12">
          <div class="row">
            {% if categoria.get_productos %}
              {% for producto in categoria.get_productos %}
                <div class="col m4 s12">
                  <div class="card sticky-action">
                    <div class="card-image waves-effect waves-block waves-light">
                      {% if producto.imagen %}
                        <img class="activator" src="{{producto.imagen.url}}">
                      {% else %}
                        <img class="activator" src="{% static 'img/noimage.jpg' %}">
                      {% endif %}
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">
                        {{producto.nombre|truncatechars:12}}
                        <i class="material-icons right">more_vert</i>
                      </span>
                      <p>Cantidad: {{producto.cantidad}}</p>
                      <p>Precio: &#8370; {{producto.precio_costo|intcomma}}</p>
                    </div>
                    <div class="card-action">
                      <a href="{{producto.get_absolute_url}}" class="teal-text">
                        Detalles
                      </a>
                      <a href="{% url 'inventario:actualizar' producto.id %}" class="teal-text">
                        Modificar
                      </a>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">{{producto.nombre}}<i class="material-icons right">close</i></span>
                      <p>{{producto.descripcion}}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="col s12">
                <div class="card z-depth-0">
                  <div class="card-content">
                    <span class="card-title center-align">No existen productos para esta categoría</span>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="col s12">
      <div class="card z-depth-0">
        <div class="card-content">
          <span class="card-title center-align">No existen datos</span>
        </div>
      </div>
    </div>
  {% endif %}  
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large teal">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <li>
        <a class="btn-floating teal tooltipped"
          href="{% url 'inventario:crear' %}"
          data-position="left"
          data-tooltip="Producto nuevo">
          <i class="material-icons">add_shopping_cart</i>
        </a>
      </li>
      <li>
        <a class="btn-floating teal tooltipped"
          href="{% url 'inventario:categoria' %}"
          data-position="left"
          data-tooltip="Categoría nueva">
          <i class="material-icons">category</i>
        </a>
      </li>
    </ul>
  </div>
{% endblock content %}

{% block extra_materialize_js %}
  {{block.super}}
  var tabs = M.Tabs.init(document.querySelector('.tabs'));
  var tooltips = M.Tooltip.init(document.querySelectorAll('.tooltipped'));
  var fab = M.FloatingActionButton.init(
    document.querySelector('.fixed-action-btn'), {
      hoverEnabled: false
    });
{% endblock extra_materialize_js %}