{% extends "base.html" %}

{% load static humanize %}

{% block title %}{{producto}} | {{block.super}}{% endblock title %}

{% block extra_css %}
  <style>
    blockquote {
      margin: 20px 0;
      padding-left: 1.5rem;
      border-left: 5px solid #009688;
    }
  </style>
{% endblock extra_css %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <a href="{% url 'inventario:productos' %}" class="btn waves-effect waves-light mb-4">
        <i class="material-icons left">arrow_back</i> Atras
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          {% if producto.imagen %}
            <img class="activator" src="{{producto.imagen.url}}">
          {% else %}
            <img class="activator" src="{% static 'img/noimage.jpg' %}">
          {% endif %}
          <a href="{% url 'inventario:eliminar' producto.id %}" class="btn-floating halfway-fab waves-effect waves-light red">
            <i class="material-icons">delete</i>
          </a>
        </div>
        <div class="card-content">
          <span class="card-title teal-text">{{producto.nombre}}</span>
          <p>Precio de Costo: &#8370; {{producto.precio_costo|intcomma}}</p>
          <p>Margen de Venta: {{producto.categoria.margen}}%</p>
          <p>Precio de Venta: &#8370; {{producto.precio_venta|intcomma}}</p>
        </div>
      </div>
    </div>
    <div class="col s12 m8">
      <div class="card-panel teal">
        <span class="flow-text white-text">
          Cantidad: x{{producto.cantidad}}<br>
          Monto total del Stock: &#8370; {{producto.monto_total_stock|intcomma}}<br>
          {{producto.descripcion}}
        </span>
      </div>
    </div>
  </div>  
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large teal" href="{% url 'inventario:actualizar' producto.id %}">
      <i class="large material-icons">mode_edit</i>
    </a>
  </div>
{% endblock content %}

{% block extra_js %}
  {{block.super}}
  var fab = M.FloatingActionButton.init(
    document.querySelector('.fixed-action-btn'), {
      hoverEnabled: false
    });
{% endblock extra_js %}