<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}Punto de Ventas{% endblock title %}</title>
  {% include 'includes/stylesheets.html' %}
</head>
<body>
  {% include 'includes/navigation.html' %}
  {% include 'includes/messages.html' %}
  <div class="container">
    <br>
    {% block content %}{% endblock content %}
  </div>
</body>
</html>