<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}Punto de Ventas{% endblock title %}</title>
  {% include 'includes/stylesheets.html' %}
  {% block extra_css %}{% endblock extra_css %}
</head>
<body>
  {% include 'includes/navigation.html' %}
  {% include 'includes/messages.html' %}
  <div class="container">
    <br>
    {% block content %}{% endblock content %}
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var dropdownOptions = {
        constrainWidth: false,
        coverTrigger: false
      };
      var sidenav = M.Sidenav.init(document.querySelector('.sidenav'))
      var dropdown = M.Dropdown.init(document.querySelectorAll('.dropdown-trigger'), dropdownOptions);
      {% block extra_js %}{% endblock extra_js %}
    });
  </script>
  
</body>
</html>